div(class="crud-container")
    p(class="crud-item")
    div(class="crud-buttons")
        button(class="crud-button" onclick="showItemInstanceUpdate()") Update 
        button(class="crud-button") Delete