@font-face {
  font-family: Minecraft;
  src: url("../fonts/Minecraft.ttf");
}

:root {
  --main-color: #c6c6c6;
  --background-color-dark: #313233;
  --background-color-middle: #5d5d5d;
  --accent-color-middle: #8a8a8a;
  --accent-color-dark: #8b8b8b;
  --text-color-dark: #4c4c4c;
  --text-color-middle: #989899;
  --text-color-bright: #ffffff;
  --border-color-dark: #373737;
  --border-color-middle: #555555;
  --border-color-bright-one: #a6a5a5;
  --border-color-bright-two: #ffffff;

  /* Firefox issue */
  --scrollbar-padding: 0.8rem;
}

html {
  box-sizing: border-box;
  font-size: clamp(10px, 1.3 * (1vw + 1vh) / 2, 100px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 2rem;
  overflow: hidden;
  font-family: Minecraft;
  background-color: var(--background-color-dark);
}

a {
  color: #00b7ff;
}

p,
a,
button,
label {
  margin: 0;
  font-size: clamp(12px, 1.6 * (1vw + 1vh) / 2, 100px);
  font-family: Minecraft;
}

input,
select {
  font-family: Minecraft;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color-dark);
  cursor: pointer;
}

select {
  position: relative;
  appearance: none;
  background-color: var(--main-color);
  padding: 0 1rem;
  border: 0.3rem solid #131313;
  box-shadow: inset 0.2rem 0 0 0 var(--border-color-bright-two),
    inset 0 0.2rem 0 0 var(--border-color-bright-two),
    inset -0.2rem 0 0 0 var(--border-color-middle),
    inset 0 -0.2rem 0 0 var(--border-color-middle);
}

select:hover {
  background-color: rgb(48, 128, 48);
  color: var(--text-color-bright);
  border: 0.3rem solid var(--border-color-bright-two);
  box-shadow: inset 0.2rem 0 0 0 rgb(23, 201, 23),
    inset 0 0.2rem 0 0 rgb(23, 201, 23), inset -0.2rem 0 0 0 rgb(3, 71, 3),
    inset 0 -0.2rem 0 0 rgb(3, 71, 3);
}

select:hover:focus {
  background-color: var(--background-color-middle);
  border: 0.3rem solid #131313;
  box-shadow: inset 0.2rem 0 0 0 var(--border-color-middle),
    inset 0 0.2rem 0 0 var(--border-color-middle),
    inset -0.2rem 0 0 0 var(--border-color-bright-two),
    inset 0 -0.2rem 0 0 var(--border-color-bright-two);
}

input[type="date"] {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-self: center;
}

::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="radio"] {
  position: relative;
  appearance: none;
  margin: 0.4rem 0;
  width: 4rem;
  height: 2rem;
  background-color: var(--background-color-middle);
  border: solid 0.2rem black;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.4rem;
  height: 1rem;
  background-color: var(--border-color-bright-one);
}

input[type="radio"]::after {
  content: "";
  position: absolute;
  left: -0.7rem;
  top: -0.7rem;
  width: 1.7rem;
  height: 3rem;
  background-color: var(--main-color);
  border: 0.2rem solid black;
  box-shadow: inset 0.2rem 0 0 0 #ffffff, inset 0 0.2rem 0 0 #ffffff,
    inset -0.2rem 0 0 0 gray, inset 0 -0.2rem 0 0 gray;
}

label:hover input[type="radio"]::after,
.crud-button:hover {
  color: var(--text-color-bright);
  background-color: rgb(29, 167, 29);
  border-color: var(--border-color-bright-two);
  box-shadow: inset 0.2rem 0 0 0 rgb(23, 201, 23),
    inset 0 0.2rem 0 0 rgb(23, 201, 23), inset -0.2rem 0 0 0 rgb(7, 119, 7),
    inset 0 -0.2rem 0 0 rgb(7, 119, 7);
}

label:hover input[type="radio"]::before {
  background-color: rgb(48, 126, 48);
}

label:hover input[type="radio"] {
  background-color: rgb(31, 105, 31);
  border-color: white;
}

input[type="radio"]:checked:hover {
  background-color: rgb(48, 126, 48);
}

input[type="radio"]:checked:hover::before {
  background-color: rgb(31, 105, 31);
}

input[type="radio"]:checked::after {
  left: 2.6rem;
}

input[type="radio"]:checked {
  background-color: var(--border-color-bright-one);
}

input[type="radio"]:checked::before {
  background-color: var(--background-color-middle);
}

label {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-between;
  color: var(--text-color-dark);
  cursor: pointer;
}

h1 {
  text-align: center;
  grid-column: 1/4;
  color: var(--text-color-bright);
}

.navigation {
  display: none;
}

.main {
  width: 100%;
  min-height: 40rem;
  max-width: 80rem;
  display: grid;
  grid-template-columns: 1fr 0.8rem 1.4fr;
  grid-template-rows: max-content auto;
  column-gap: 0.2rem;
  padding: 1.2rem;
  margin: auto;
}

.shared-inventory-container {
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content auto;
  row-gap: 0.6rem;
  border-radius: 0.8rem;
  padding: 1.2rem;
  background-color: var(--main-color);
}

.shared-inventory-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.5rem solid var(--border-color-bright-two);
  border-top: 0.5rem solid var(--border-color-bright-two);
  border-right: 0.5rem solid var(--border-color-middle);
  border-bottom: 0.5rem solid var(--border-color-middle);
  box-shadow: 0 0.1rem 0rem 0.1rem #141414;
  pointer-events: none;
  border-radius: 0.8rem;
}

.items-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(95, 95, 95);
}

.search-bar-container {
  position: relative;
  background-color: var(--background-color-middle);
  border: 0.3rem solid black;
}

/* Using ::after on container instead of
   border on input due to scaling issues
*/
.search-bar-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top: 0.3rem solid #464446;
  border-bottom: 0.3rem solid #b2b2b2;
}

.search-bar {
  height: 100%;
  width: 99%;
  padding: 0.8rem 0 0.8rem 0.6rem;
  outline: none;
  border: none;
  font-family: Minecraft;
  font-size: 1.8rem;
  color: var(--text-color-bright);
  text-shadow: 0.1rem 0.1rem 0 #000000;
}

.items-container {
  position: relative;
  max-height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
  grid-template-rows: inherit;
  padding: 0.3rem var(--scrollbar-padding) 0.3rem 0.3rem;
  background-color: var(--background-color-middle);
  overflow-y: scroll;
  overflow-x: hidden;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-middle) var(--main-color);
}

.item-svg {
  height: 75%;
  stroke: rgb(26, 26, 26);
  pointer-events: none;
}

.separator-main {
  margin: auto 0 0.8rem 0;
  width: 100%;
  height: 75%;
  border-top: 0.5rem solid var(--border-color-bright-one);
  border-bottom: 0.5rem solid var(--border-color-dark);
  background-color: var(--background-color-middle);
}

.personal-inventory-container {
  height: 80%;
  max-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 1.2rem 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--main-color);
}

.personal-inventory-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.5rem solid var(--border-color-bright-two);
  border-top: 0.5rem solid var(--border-color-bright-two);
  border-right: 0.5rem solid var(--border-color-middle);
  border-bottom: 0.5rem solid var(--border-color-middle);
  box-shadow: 0 0.1rem 0rem 0.1rem #141414;
  pointer-events: none;
  border-radius: 0.8rem;
}

.personal-inventory-top {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4rem;
}

.crafting-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.crafting {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr;
  align-items: center;
  height: max-content;
}

.crafting-title {
  color: var(--text-color-dark);
  font-size: 2rem;
}

.craft-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.craft-arrow {
  width: 75%;
  margin: 0 auto;
  stroke: var(--secondary-color);
}

.personal-inventory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
  flex-shrink: 4;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.2rem solid transparent;
  padding: 0 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-middle) var(--main-color);
}

.square {
  position: relative;
  aspect-ratio: 1/1;
  background-color: var(--accent-color-dark);
  border-right: 0.3rem solid var(--border-color-bright-two);
  border-bottom: 0.3rem solid var(--border-color-bright-two);
  border-left: 0.3rem solid var(--border-color-dark);
  border-top: 0.3rem solid var(--border-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  left: -0.3rem;
  bottom: -0.3rem;
  background-color: rgb(178, 178, 178);
}

.square::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  right: -0.3rem;
  top: -0.3rem;
  background-color: rgb(178, 178, 178);
}

.shared-square {
  position: relative;
  aspect-ratio: 1/1;
  background-color: var(--accent-color-middle);
  border-left: 0.3rem solid var(--border-color-bright-one);
  border-top: 0.3rem solid var(--border-color-bright-one);
  border-right: 0.3rem solid var(--border-color-dark);
  border-bottom: 0.3rem solid var(--border-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shared-square::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  left: -0.3rem;
  bottom: -0.3rem;
  background-color: rgb(152, 152, 152);
}

.shared-square::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  right: -0.3rem;
  top: -0.3rem;
  background-color: rgb(152, 152, 152);
}

.tool-tip-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  max-width: 14rem;
  border-radius: 0.4rem;
  padding: 1rem 1.6rem;
  background-color: black;
  pointer-events: none;
  word-wrap: break-word;
  color: var(--text-color-bright);
}

.tool-tip-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.2rem solid rgb(27, 27, 109);
  border-top: 0.2rem solid rgb(27, 27, 109);
  border-right: 0.2rem solid rgb(27, 27, 109);
  border-bottom: 0.2rem solid rgb(27, 27, 109);
  pointer-events: none;
  border-radius: 0.8rem;
}

.tool-tip-name {
  margin: 0;
  font-size: 1.6rem;
  color: #00b7ff;
}

.tool-tip-value-container {
  display: flex;
  align-items: center;
}

.tool-tip-value-container p {
  align-self: flex-end;
}

.tool-tip-emerald {
  width: 1.75rem;
  height: 1.75rem;
}

.crud-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 60%;
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  row-gap: 1rem;
  background-color: var(--background-color-dark);
  border-radius: 0.8rem;
  visibility: hidden;
  z-index: 1;
}

.crud-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.5rem solid var(--border-color-bright-two);
  border-top: 0.5rem solid var(--border-color-bright-two);
  border-right: 0.5rem solid var(--border-color-bright-one);
  border-bottom: 0.5rem solid var(--border-color-bright-one);
  box-shadow: 0 0.1rem 0rem 0.14rem #141414b9;
  border-radius: 0.8rem;
  pointer-events: none;
}

.crud-update-container {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0 2rem;
  row-gap: 0.2rem;
}

.crud-item {
  color: #00b7ff;
}

.crud-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  user-select: none;
}

.crud-button {
  position: relative;
  width: max-content;
  border: none;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--text-color-dark);
  font-family: Minecraft;
  cursor: pointer;
  margin: 0 auto;
  border: 0.2rem solid #131313;
  box-shadow: inset 0.2rem 0 0 0 var(--border-color-bright-two),
    inset 0 0.2rem 0 0 var(--border-color-bright-two),
    inset -0.2rem 0 0 0 var(--border-color-middle),
    inset 0 -0.2rem 0 0 var(--border-color-middle);
}

.crud-button::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  left: 0;
  bottom: 0;
  background-color: #AAAAAA;
}

.crud-button::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  right: 0;
  top: 0;
  background-color: #AAAAAA;
}

.crud-button:hover::before,
.crud-button:hover::after {
  background-color: #22ad40;
}

.crud-exit {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.4rem;
  cursor: pointer;
  stroke: var(--text-color-bright);
}

.crud-exit:hover {
  background-color: var(--border-color-bright-one);
}

.crud-update-crafted,
.crud-update-bought {
  color: var(--text-color-bright);
}

.crud-update-acquired {
  color: var(--text-color-bright);
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
  outline: 0.5rem solid var(--main-color);
  cursor: grab;
  background-color: var(--accent-color-dark);
}

::-webkit-scrollbar-track {
  position: relative;
  border-left: 0.3rem solid var(--border-color-dark);
  border-top: 0.3rem solid var(--border-color-dark);
  border-right: 0.3rem solid var(--border-color-bright-two);
  border-bottom: 0.3rem solid var(--border-color-bright-two);
}

::-webkit-scrollbar-thumb {
  border-left: 0.3rem solid var(--border-color-bright-two);
  border-top: 0.3rem solid var(--border-color-bright-two);
  border-right: 0.3rem solid var(--border-color-dark);
  border-bottom: 0.3rem solid var(--border-color-dark);
  background-color: var(--main-color);
}

@media (hover: hover) and (pointer: fine) {
  .shared-square:hover,
  .square:hover {
    background-color: rgb(119 179 68);
    border: 0.3rem solid white;
  }

  .shared-square:hover::before,
  .square:hover::before,
  .shared-square:hover::after,
  .square:hover::after {
    background-color: white;
  }

  .search-bar-container:hover {
    border-color: var(--border-color-bright-two);
  }
}

@media (max-width: 1000px) {
  .main-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }

  .main {
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: max-content 40% 0.8rem 40%;
    row-gap: 0.2rem;
    align-content: center;
  }

  .separator-main {
    grid-row: 3/4;
    margin: 0 auto;
    height: 100%;
    width: 93%;
    border: none;
    border-left: 0.5rem solid var(--border-color-dark);
    border-right: 0.5rem solid var(--border-color-dark);
  }

  .personal-inventory-container {
    height: 100%;
    margin: 0;
    grid-row: 4/5;
  }
}

@media (max-width: 650px) {
  body {
    padding: 0rem;
  }

  .main {
    height: 100%;
    padding: 0 2rem;
  }

  h1 {
    margin: 1rem;
  }
}

@media (max-width: 450px) {
}
