@font-face {
  font-family: Minecraft;
  src: url("../fonts/Minecraft.ttf");
}

:root {
  --main-color: #e1e2e4;
  --secondary-color: #aaaaaa;

  --shared-inventory-height: 0px;
}

html {
  box-sizing: border-box;
  font-size: clamp(10px, 1.3 * (1vw + 1vh) / 2, 100px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 2rem;
  overflow: hidden;
  font-family: Minecraft;
  background-color: rgb(51, 51, 51);
  color: white;
}

a {
  color: #00b7ff;
}

p, a {
  margin: 0;
  font-size: clamp(12px, 1.6 * (1vw + 1vh) / 2, 100px);
}

h1 {
  text-align: center;
  grid-column: 1/4;
}

.navigation {
  display: none;
}

.main {
  width: 100%;
  min-height: 40rem;
  max-width: 80rem;
  display: grid;
  grid-template-columns: 1fr 0.8rem 1.4fr;
  grid-template-rows: max-content auto;
  column-gap: 0.2rem;
  padding: 1.2rem;
  margin: auto;
}

.shared-inventory-container {
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content auto;
  row-gap: 0.6rem;
  border-radius: 0.8rem;
  padding: 1.2rem;
  background-color: var(--main-color);
}

.shared-inventory-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.5rem solid white;
  border-top: 0.5rem solid white;
  border-right: 0.5rem solid var(--secondary-color);
  border-bottom: 0.5rem solid var(--secondary-color);
  box-shadow: 0 0.1rem 0.2rem 0.1rem #585858;
  pointer-events: none;
  border-radius: 0.8rem;
}

.items-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(95, 95, 95);
}

.search-bar-container {
  position: relative;
  background-color: #797979;
  border: 0.3rem solid black;
}

.search-bar {
  height: 100%;
  width: 100%;
  padding: 0.8rem 0 0.8rem 0.6rem;
  outline: none;
  border: none;
  border-top: 0.3rem solid #5d5d5d;
  border-bottom: 0.3rem solid rgb(212, 212, 212);
  font-family: Minecraft;
  font-size: 1.8rem;
  background-color: #797979;
  color: white;
  text-shadow: 0.1rem 0.1rem 0 #000000;
}

.items-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
  grid-template-rows: inherit;
  padding: 0.3rem 0.8rem 0.3rem 0.3rem;
  background-color: var(--secondary-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

.items-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 0.5rem);
  height: var(--shared-inventory-height);
  border: 0.3rem solid gray;
  background-color: transparent;
  pointer-events: none;
}

.item-svg {
  height: 75%;
  stroke: rgb(26, 26, 26);
  pointer-events: none;
}

.separator-main {
  margin: auto 0 0.8rem 0;
  width: 100%;
  height: 75%;
  border-top: 0.5rem solid var(--main-color);
  border-bottom: 0.5rem solid #7c7c7c;
  background-color: var(--secondary-color);
}

.personal-inventory-container {
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-top: auto;
  padding: 1.2rem 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--main-color);
}

.personal-inventory-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.5rem solid white;
  border-top: 0.5rem solid white;
  border-right: 0.5rem solid var(--secondary-color);
  border-bottom: 0.5rem solid var(--secondary-color);
  box-shadow: 0 0.1rem 0.2rem 0.1rem #585858;
  pointer-events: none;
  border-radius: 0.8rem;
}

.personal-inventory-top {
  height: 60%;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
}

.inventory-info-container {
  width: 45%;
}

.crafting-container {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.crafting {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr;
  align-items: center;
  height: max-content;
}

.crafting-title {
  color: rgb(95, 95, 95);
  font-size: 2rem;
}

.craft-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.craft-arrow {
  width: 75%;
  margin: 0 auto;
  stroke: var(--secondary-color);
}

.personal-inventory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.2rem solid transparent;
  padding: 0 0.5rem;
}

.square {
  position: relative;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color);
  border-right: 0.3rem solid rgb(255, 255, 255);
  border-bottom: 0.3rem solid rgb(255, 255, 255);
  border-left: 0.3rem solid rgb(100, 100, 100);
  border-top: 0.3rem solid rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  left: -0.3rem;
  bottom: -0.3rem;
  background-color: rgb(178,178,178);
}

.square::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  right: -0.3rem;
  top: -0.3rem;
  background-color: rgb(178,178,178);
}

.shared-square {
  position: relative;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color);
  border-left: 0.3rem solid rgb(205 205 205);
  border-top: 0.3rem solid rgb(205 205 205);
  border-right: 0.3rem solid rgb(100, 100, 100);
  border-bottom: 0.3rem solid rgb(100, 100, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shared-square::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  left: -0.3rem;
  bottom: -0.3rem;
  background-color: rgb(178,178,178);
}

.shared-square::after {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  right: -0.3rem;
  top: -0.3rem;
  background-color: rgb(178,178,178);
}

.tool-tip-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  max-width: 50rem;
  border-radius: 0.4rem;
  padding: 1rem 1.6rem;
  background-color: black;
  pointer-events: none;
}

.tool-tip-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 0.2rem solid rgb(27, 27, 109);
  border-top: 0.2rem solid rgb(27, 27, 109);
  border-right: 0.2rem solid rgb(27, 27, 109);
  border-bottom: 0.2rem solid rgb(27, 27, 109);
  pointer-events: none;
  border-radius: 0.8rem;
}

.tool-tip-name {
  margin: 0;
  font-size: 1.6rem;
  color: #00b7ff;
}

.tool-tip-value-container {
  display: flex;
  align-items: center;
}

.tool-tip-value-container p {
  align-self: flex-end;
}

.tool-tip-emerald {
  width: 2rem;
  height: 2rem;
  margin-top: auto;
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
  outline: 0.5rem solid var(--main-color);
  cursor: grab;
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  position: relative;
  border-left: 0.3rem solid rgb(100, 100, 100);
  border-top: 0.3rem solid rgb(100, 100, 100);
  border-right: 0.3rem solid rgb(255, 255, 255);
  border-bottom: 0.3rem solid rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  border-left: 0.3rem solid rgb(255, 255, 255);
  border-top: 0.3rem solid rgb(255, 255, 255);
  border-right: 0.3rem solid rgb(100, 100, 100);
  border-bottom: 0.3rem solid rgb(100, 100, 100);
  background-color: var(--main-color);
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 100%;
    grid-template-rows: max-content 40% 0.8rem 40%;
    row-gap: 0.2rem;
    align-content: center;
  }

  .separator-main {
    grid-row: 3/4;
    margin: 0 auto;
    height: 100%;
    width: 93%;
    border: none;
    border-left: 0.5rem solid #7c7c7c;
    border-right: 0.5rem solid #7c7c7c;
  }

  .personal-inventory-container {
    height: 100%;
    margin: 0;
    grid-row: 4/5;
  }
}

@media (max-width: 650px) {
  body {
    padding: 0rem;
  }

  .main-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }

  .main {
    height: 100%;
    padding: 0 2rem;
  }

  h1 {
    margin: 1rem;
  }
}